ul a{ /* this styles the font in the element ul a*/
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5 ease;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
}

body{ /* this centres the items in the body and sets the background colour*/
    text-align: center;
    background-color: rgb(252, 232, 236);
}


*{
    margin: 0;
    padding: 0;
}

nav { /*this styles the navigation bar*/
    margin:50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    overflow:auto;
    list-style-type: none
}

li { /*this styles the lines that seperate the navaigation bar*/
    height:25px;
    float:left;
    margin-right: 0px;
    border-right: 5px solid
    pink;
    padding: 0 20px;
}

li:last-child {
    border-right:none;
}

li a {/*this styles the tex in the navigation bar*/
    text-decoration: none;
    text-align: center;
    color: rgb(15, 15, 15);
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5 ease;
}

li a:hover { /*this styles the hover function*/
    color: rgb(238, 23, 130);
}