



:root {
    font-size: 75.5%;
    font-family: Montserrat, sans-serif;
}


.container {
    width: 96rem;
    margin: 2rem auto;
}

.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px pink;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.gallery {/*this puts the images into a grid*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 1fr));
    grid-gap: 1.5rem;
    
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}



